{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    {{ product.name }}
{% endblock title %}
{% block content %}
    <div class="product-detail">
        <img src="{% if product.image %}{{ product.image.url}}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="">
        <h1>{{ product.name }}</h1>
        <h2>
            <a href="{{ product.category.get_absolute_url }}">
                {{ product.category }}
            </a>
        </h2>
        <p class="price">{{ product.price }}원</p>
        <form action="{% url 'cart:cart_add' product.id %}" method="post">
            수량: {{ cart_product_form.quantity }}
            {% csrf_token %}
            {{ product.description|linebreaks }}
            <input type="submit" value="추가하기">
        </form>
        {{ linebreaks }}
    </div>
{% endblock content %}